


@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div style="position:absolute; left:90px; top:10px"> </div>

    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Salary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in ViewBag.result)
                {
                    <tr>
                        <td>@p.ID</td>
                        <td>@p.Name</td>
                        <td>@p.Department</td>
                        <td>@p.Salary</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</body>
</html>
@Html.ActionLink("Create", "CreateNew")
